@font-face {font-family: Faculty;
             src: url(../fonts/Faculty.ttf);}
 
@font-face {font-family: Oswald;
            src: url(../fonts/Oswald.ttf);}
 
.resume-wrapper {background-color: rgb(202, 234, 239);
                 width: 70%;
                 margin: 6rem auto;
                 padding: 4rem 0 0 0;
                 box-shadow: 0 4px 15px rgba(0,0,0,0.1);}
 
.resume-wrapper h2 {font-family: "Oswald", sans-serif;
                    font-size: 1.7em;
                    font-weight: 600;
                    letter-spacing: 0.15rem;
                    color: teal;
                    margin-top: 3%;
                    margin-bottom: 1rem;
                    text-align: left;}
 
.resume-wrapper h3 {font-family: "Oswald", sans-serif;
                    letter-spacing: 0.05rem;
                    font-size: 1.5em;
                    margin-top: 1rem;
                    margin-bottom: 0.3rem;}
 
.resume-wrapper h4 {font-family: "Faculty Glyphic", sans-serif;
                    font-style: italic;
                     font-size: 1.2em;
                      margin-top: 0.5rem;}
 
.resume-wrapper p {font-family: "Faculty Glyphic", sans-serif;
                   font-size: 1.5em !important;
                   margin-top: 0.5rem;
                   margin-bottom: 0.5rem;}

.resume-wrapper b {font-weight: 700 !important;
                   font-family: "Faculty Glyphic", sans-serif;}

.resume-wrapper ul {font-family: "Faculty Glyphic", sans-serif;
                    font-size: 1.4em !important;                      
                     display: block !important;
                      padding-left: 3rem;}
 
.resume-wrapper li {display: list-item !important;
                    width: 100% !important;
                    margin-bottom: 0.5rem;}

.resume-wrapper .contact-info {display: flex;
                               column-gap: clamp(15px, 4%, 80px);
                               justify-content: center;
                               flex-wrap: wrap;
                               padding-left: 7.5%;
                               padding-right: 7.5%;
                               margin-bottom: 4rem;}

.resume-wrapper #Container2 {background-color: aliceblue;
                             width: 100%;
                             margin: 1rem 0 0 0;
                             padding: 3rem 6rem;
                             padding-bottom: 6rem;}
 
.resume-wrapper .Title,
.resume-wrapper .Position {display: inline-block;
                           font-style: italic;
                           font-size: 1.1rem;
                           width: 55%;
                           margin-top: 0.5rem;}

.resume-wrapper .Project1,
.resume-wrapper .Project2 {display: inline-block;
                           font-size: 1rem;
                           width: 55%;
                           margin-top: -0.6rem;}
 
.resume-wrapper .Academic-year,
.resume-wrapper .Years-worked,
.resume-wrapper .Date {display: inline-block;
                       text-align: right;
                       font-style: italic;
                       font-size: 1.1rem;
                       width: 44%;
                       margin-top: 0.5rem;}
 
.resume-wrapper .Description,
.resume-wrapper .Work-description,
.resume-wrapper .Project-description {display: block !important;
                                      column-count: 1 !important;
                                      columns: 1 !important;
                                      margin-top: 0.5rem;
                                      margin-bottom: 2rem;
                                      padding-left: 3rem;}
 
.resume-wrapper .Description li,
.resume-wrapper .Work-description li,
.resume-wrapper .Project-description li {display: list-item !important;
                                          width: 100% !important;
                                          margin-bottom: 0.5rem;}
 
.resume-wrapper #Iteam2 {margin-top: 3%;}

 
.resume-wrapper #Iteam2 ul li {list-style-type: disc !important;
                               display: list-item !important;}
 
.resume-wrapper #Container2 > ul li {list-style-type: disc !important;
                                     display: list-item !important;
                                     margin-bottom: 0.5rem;}
 
.resume-wrapper .item3 {margin-top: 3.2%;}
 
.resume-wrapper a:link {text-decoration: none;
                        color: #007AAE;}
 
.resume-wrapper a:visited {text-decoration: none;
                           color: #7B008E;}
 
.resume-wrapper a:hover {text-decoration: none;
                         color: #C94300;}
 
.resume-wrapper a:active {text-decoration: none;
                          color: #580101;}
 
/* MOBILE + Tablet*/

@media (max-width: 769px) {
 
    .resume-wrapper {width: 100%;
                     margin: 2rem auto;
                     padding: 1rem 0 0 0;}
 
    .resume-wrapper #Container2 {background-color: aliceblue;
                                 width: 100%;
                                 margin: 1rem 0 0 0;
                                 padding: 3rem 6rem;}
 
    .resume-wrapper .Title,
    .resume-wrapper .Position,
    .resume-wrapper .Project,
    .resume-wrapper .Academic-year,
    .resume-wrapper .Years-worked,
    .resume-wrapper .Date {display: block;
                           width: 100%;
                           text-align: left;}
 
    .resume-wrapper .contact-info {align-items: center;
                                   padding-left: 5%;
                                   padding-right: 5%;}
 
    .resume-wrapper li {text-align: left;}
 
    .resume-wrapper .Description,
    .resume-wrapper .Work-description,
    .resume-wrapper .Project-description {text-align: left;
                                          padding-left: 1.5rem;}
 
    .resume-wrapper ul {padding-left: 1.5rem;}


}


